.proSidebar{
    height: 80vh;
    width: 100%;
    background-color: var(--navSecondaryColor);
    padding: 10px;
    border-radius: 10px;
    box-shadow: -5px 10px 15px #000000;
    z-index: 2;
}

.sideBarHeader{
    text-align: center;
    background-color: var(--navSecondaryColor);
    color: #ffffff;
}

.sideBarContent{
    padding: 10px;
    background-color: var(--navSecondaryColor);
}

.sideBarContainer{
    padding: 0 !important;
    margin-top: 20px;
}

.textSideBar{
    color: #ffffff;
    cursor: default;
    display: inline-block;
}

.btn-delete{
    position: absolute;
    bottom: 50px;
    right: 10px;
    box-shadow: -2px 2px 5px #ffffff;

}