input.Number {
    cursor: ns-resize;
    background: linear-gradient(#D1D5DB, #e6e6e6);
    text-align: center;
    width: 30%;
    margin-right: 10px;
    color: #000000 !important;
    font-size: 20px;
    border: 1px solid white;
    padding: 2px;
}

.Text{
    color: white;
}

.transformation{
    margin-bottom: 10px;
}