.navbar{
    background: linear-gradient(var(--navPrimaryColor), var(--navSecondaryColor));
}

.navbarBeforeOpen{
    background: linear-gradient(var(--navPrimaryColor), var(--navSecondaryColor));
    padding-left: 0px;
    padding-top: 13px;
    padding-bottom: 13px;
}

.navbarBeforeOpenIcon{
    background: linear-gradient(var(--navPrimaryColor), var(--navSecondaryColor));
    color: #ffffff;
}

.navbar-light .navbar-nav .nav-link {
    color: #ffffff !important;
}

.dropdown-menu{
    background: linear-gradient(var(--navPrimaryColor), var(--navSecondaryColor));
}

.dropdownItem{
    color: #ffffff;
    background-color: transparent;
    text-transform: capitalize;
}

.dropdownItem:hover{
    color: rgba(255, 255, 255, 0.87);
}

.dropdownItemCube:hover{
    color: var(--cubeColor);
}

.dropdownItemSphere:hover{
    color: var(--sphereColor);
}

.dropdownItemCylinder:hover{
    color: var(--cylinderColor);
}
.dropdownItemTorus:hover{
    color:  var(--torusColor);
}
.dropdownItemCone:hover{
    color:  var(--coneColor);
}

.form-check-input:checked {
    background-color: #6ca7e4 !important;
    border-color: #6ca7e4 !important;
}

hr{
    color: #ffffff !important;
}

.burgerMenu{
    background: linear-gradient(var(--navPrimaryColor), var(--navSecondaryColor));
    height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.closeNavBar{
    padding-left: 20px;
    color: #ffffff !important;
}

.form-check-input{
    pointer-events: none;
}
