.navbar{
    background-color: #505153;
}

.dropdownItem{
    color: #9B9D9E;
    background-color: transparent;
    text-transform: capitalize;
}

.dropdownItem:hover{
    color: white;
}

.burgerMenu{
    background-color: #171A21;
    height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.closeNavBar{
    padding-left: 20px;
}

.form-check-input{
    pointer-events: none;
}