.navbar{
    background: linear-gradient(var(--navPrimaryColor), var(--navSecondaryColor));
}

.navbarBeforeOpen{
    background: linear-gradient(var(--navPrimaryColor), var(--navSecondaryColor));
    padding-left: 0;
    padding-top: 13px;
    padding-bottom: 13px;
}

.navbarBeforeOpenIcon{
    background: linear-gradient(var(--navPrimaryColor), var(--navSecondaryColor));
    color: #ffffff;
    margin-top: 9px;
}

.navbar-light .navbar-nav .nav-link {
    color: #ffffff !important;
}

.navbar-expand .navbar-nav .dropdown-menu {
    width: max-content;
}

#editDropdown{
    width: 340px;
}

#exportDropdown{
    width: 230px;
}

#viewDropdown{
    width: 260px;
}

.burgerMenu{
    background: linear-gradient(var(--navPrimaryColor), var(--navSecondaryColor));
    width: 50px;
    position: absolute !important;
    top: 0;
    left: 0;
    height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.btn-export{
    border: 0;
    padding: 7px;
    background-color: transparent;
}

.dropdown-menu{
    background: linear-gradient(var(--navPrimaryColor), var(--navSecondaryColor));
}

.dropdownItem{
    color: #ffffff;
    text-transform: capitalize;
}

.dropdownItemDisabled{
    color: #69819a;
}

.dropdownItem:hover{
    color: rgba(255, 255, 255, 0.87);
}

.dropdownItemCube:hover{
    color: var(--cubeColor);
}

.dropdownItemSphere:hover{
    color: var(--sphereColor);
}

.dropdownItemCylinder:hover{
    color: var(--cylinderColor);
}
.dropdownItemTorus:hover{
    color:  var(--torusColor);
}
.dropdownItemCone:hover{
    color:  var(--coneColor);
}

.form-check-input:checked {
    background-color: #6ca7e4 !important;
    border-color: #6ca7e4 !important;
}

hr{
    color: #ffffff !important;
}


.closeNavBar{
    padding-left: 20px;
    color: #ffffff !important;
}

.form-check-input{
    pointer-events: none;
}

.keyboardShortcut{
    color: #888888;
}
