.btn-undo-redo{
    background-color: var(--navSecondaryColor);
}

.btn-undo-redo-disabled{
    opacity: 90;
}

.shadow-undo-redo{
    box-shadow: -2px 2px 5px #000000;
}

.btn-undo-redo:hover{
    background-color: var(--navPrimaryColor);
}

.container-undo-redo{
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: row;
}