#toolbar {
    position: absolute;
    left: 10px;
    top: 70px;
    width: 40px;
    text-align: center;
    box-shadow: -2px 2px 5px #000000;
}

.Panel {
    color: #888;
    user-select: none;
}

#toolbar button, #toolbar input {
    height: 40px;
}
button.selected {
    background-color: #fff;
}

button {
    color: #555;
    background-color: #ddd;
    border: 0px;
    margin: 0px;
    padding: 5px 8px;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
    position: relative;
}

.tooltip{
    position: initial;
    opacity: 1;
}

.tooltip-inner{
    padding: 0;
    background-color: #171A21;
    max-width: 65px;
}

.tooltip-arrow{
    visibility: hidden;
}

.bs-tooltip-end{
    padding: 0;
}