.spinner {
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: -.110em;
    background-color: currentColor;
    border-radius: 50%;
    opacity: 0;
    animation: .75s linear infinite spinner-grow;
    color: white;
    position: fixed;
    z-index: 999;
    overflow: visible;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
