:root{
    --navPrimaryColor: #696868;
    --navSecondaryColor: #696868;
    --cubeColor: #420202;
    --sphereColor: #6b5d10;
    --cylinderColor: #5e3507;
    --torusColor: #06065e;
    --coneColor: #065c06;
    --canvasPrimaryColor: #d1d5db;
    --canvasSecondaryColor: #ffffff;

    --modalBackground: linear-gradient(to bottom right, #1F2937, #a5763c)
}

/* :root{
    --navPrimaryColor: #222121;
    --navSecondaryColor: #2e2d2d;
    --cubeColor: #570707;
    --sphereColor: #6b5d10;
    --cylinderColor: #5e3507;
    --torusColor: #06065e;
    --coneColor: #065c06;
    --canvasPrimaryColor: #272627;
    --canvasSecondaryColor: #3a3939;

    --modalBackground: linear-gradient(to bottom right, #222121, #2e2d2d)
} */