input.Number {
    cursor: ns-resize;
    background-color: white;
    text-align: center;
    width: 30%;
    margin-right: 10px;
    color: #6e6a6a !important;
    font-size: 20px;
    border: 1px solid white;
    padding: 2px;
}

.Text{
    color: white;
}

.transformation{
    margin-bottom: 10px;
}