#binary-op-toolbar {
    position: absolute;
    left: 10px;
    top: 200px;
    width: 40px;
    text-align: center;
    box-shadow: -2px 2px 5px #000000;
}

.Panel {
    color: #888;
    user-select: none;
}

#binary-op-toolbar button, #binary-op-toolbar input {
    height: 40px;
}
.btn-toolbar-selected {
    color: #555;
    background-color: var(--navPrimaryColor);
    border: 0px;
    margin: 0px;
    padding: 5px 8px;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
    position: relative;
}

.btn-toolbar {
    color: #555;
    background-color: var(--navSecondaryColor);
    border: 0px;
    margin: 0px;
    padding: 5px 8px;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
    position: relative;
}

.btn-toolbar:disabled {
    color: #555;
    background-color: var(--navSecondaryColor);
    border: 0px;
    margin: 0px;
    padding: 5px 8px;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
    position: relative;
}

.btn-toolbar:hover{
    background-color: var(--navPrimaryColor);
}

.tooltip{
    position: initial;
    opacity: 1;
}

.tooltip-inner{
    padding: 0;
    background: linear-gradient(var(--navPrimaryColor), var(--navSecondaryColor));
    max-width: 65px;
    color: #ffffff;
}

.tooltip-arrow{
    visibility: hidden;
}

.bs-tooltip-end{
    padding: 0;
}